@charset "utf-8";

/*

Azul Tecnológico	#007BFF	Botões, cabeçalhos, destaques
Cinza Moderno	#2E3440	Fundos, textos, interfaces
Branco Neutro	#FFFFFF	Fundos e espaços em branco
Verde Tecnológico	#00C853	Botões secundários, ícones
Laranja Energético	#FF6D00	CTAs (Call to Action)
Preto Profundo	#000000	Textos, bordas, detalhes*/

:root {
--cor0: #44b7fa;
--cor1: #2E3440;
--cor2: #FFFFFF;
--cor3: #00C853;
--cor4: #FF6D00;
--cor5: #000000;
--cor6: #00c85370;

}



body {
    background: linear-gradient(135deg, var(--cor1), var(--cor0));
    color: var(--cor2);
    font-family: arial, sans-serif;
    margin: 0;
    padding: 30px;
    
    
}
header {
h1 {
    color: var(--cor2);
    font-style: normal;
    font-size: 20px;
    line-height: 1em;
    
}

h2 {
    color: var(--cor4);
    font-style: normal; 
    font-size: 50px;
    margin: 0;
    width: 600px;
    
}

h3 {
    color: var(--cor6);
    font-style: normal; 
    font-size: 40px;
    margin: 0;
    width: 600px;
    line-height: 1em;
}

p {
    color: rgba(231, 228, 228, 0.63);
    font-size: 16px;
    margin: 1;
    width: 800px;
    line-height: 2em;
}

}


div {
    background-color: #00c8534f;
    margin: 20px;
    padding: 20px; 
    border-radius: 8px;
    transition: 1s;
    display: inline-block;
    width: 200px;
    height: 250px;
    

}


div:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
    background-color: #00c853a1;
    transform: scale(1.1);
    transition: 1s;
}